.sort {
  position: absolute;
  bottom: 230px;
  border: 1px solid gray;
  width: 165px;
  background-color: white;
  padding: 1px;
  border-radius: 5px;
  right: 10px;
}
.sort p {
  padding: 10px;
  width: 100%;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .sort {
    bottom: 80px;
  }
}
